@{
    ViewData["Title"] = "Privacy Policy";
}

    <div class="container jumbotron text-center">
        <h1>Privacy</h1>
        <h4>Read about our privacy policy</h4>
        <hr />
        <p>
            When you use our services, you’re trusting us with your information. We understand this is a big responsibility and work hard to protect your information and put you in control.

            This Privacy Policy is meant to help you understand what information we collect, why we collect it, and how you can update, manage, export, and delete your information.

            Effective October 15, 2019
        </p>
    </div>

