@model IEnumerable<mobile.WebModels.UserViewModel>

@{
    ViewData["Title"] = "Users";
}

<h2>Users</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
        <tr>
            <td>@u.Id</td>
            <td>@u.FullName</td>
            <td>@u.UserName</td>
            <td>@u.Email</td>
            </tr>
        }
    </tbody>
</table>